<div class="home-banner">

  <h2>Photography portfolio</h2>

  <!-- scrool down button -->
  <section id="section04" class="demo">
    <a href=".container"><span></span>Scroll</a>
  </section>

</div>


