<div class="home-banner">

  <h1>Luís Quilhó</h1>
  <h2>Photography portfolio</h2>

  <!-- scrool down button -->
  <section id="section04" class="demo">
    <a href="#section05"><span></span>Scroll</a>
  </section>

</div>


