<!-- footer -->
<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/luisquilho/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://github.com/lquilho" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/lu%C3%ADs-quilh%C3%B3-6230a5189/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    © All rights reserved
  </div>
</div>
