<div class="card-container">
  <div class="cards">
    <% @photos.each do |photo|  %>
        <div class="card-category">
          <%= cl_image_tag photo.cloud_id  %>
          <% if user_signed_in? %>
            <%= link_to '[X]', post_photo_path(@post, photo), method: :delete, data: { confirm: 'Are you sure?' } %> |
          <% end %>
        </div>
      <% end %>
  </div>
</div>
