.navbar-lewagon {
  justify-content: space-between;
  background-color: rgba(50,50,50,0.4);
  transition: 0.5s;
  a {
    letter-spacing: 2px;
    color: rgba(250,250,250,0.7) !important;
  }
}

.navbar-lewagon-white {
  background-color: white;
  a {
    color: black !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.brand {
  font-size: 20px;
  color: rgba(250,250,250,0.7);
  &:hover {
    text-decoration: none;
  }
}

.font-white {
  color: white;
}

.nav-item a {
  font-size: 12px;
}

